<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    /> -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Movies App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/profile"
            >Profile <span class="sr-only">(current)</span></a
          >
          <a class="nav-link" href="/movie-list">Movies</a>
        </div>
      </div>
    </nav>
 
    <div class="container">
      <h1>Login</h1>
      <!-- action="" -> Submit to current url  -->
      <form method="POST" action="">
        <!-- Hidden input with token as value -->
        <!-- Validations -->
        {{form.hidden_tag()}} {% if form.username.errors %} {% for error in
        form.username.errors %}
        <div style="color: red">{{error}}</div>
        {% endfor %} {% endif %} {% if form.password.errors %} {% for error in
        form.password.errors %}
        <div style="color: red">{{error}}</div>
        {% endfor %} {% endif %}
        <div class="form-group">
          {{form.username.label}}: {{form.username(placeholder="Rashay",
          class="form-control is-invalid")}}
        </div>
        <div class="form-group">
          {{form.password.label}}: {{form.password(placeholder="Password",
          class="form-control")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
      </form>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>

</body>
</html>