{% extends 'base.html' %}
{% block details %}
    <iframe width="720" height="400" src="{{movie.trailer}}" title="BEETLEJUICE BEETLEJUICE | Official Teaser Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="movie-cont1">
        <div class="title-container">
            <div class="title">{{movie['name']}} </div>
            <div class="rating">⭐{{movie['rating']}}</div>
        </div>
        <p class="summary">{{movie['summary']}}</p>
    </div>
{% endblock %}