{% extends 'base.html' %} 
{% block content %}
    <!-- mustache -->
    <!-- display profile picture on top of screen -->
    <div class="movie-container">
        {% for movie in movies %}
        <div class="movie-cont">
            <img class="poster" src="{{movie['poster']}}">
            <div class="title-container">
                <div class="title">{{movie['name']}} </div>
                <div class="rating">⭐{{movie['rating']}}</div>
            </div>
            <p class="summary">{{movie['summary']}}</p>
            <div class="movie-actions">
                <a href="/movie-list/{{ movie['id'] }}"> View more</a>

                <form  action="{{url_for('movies-list.delete_movie_by_id')}}" class="add-movie-form" method="POST">
                    <input name="movie_id" type="text" value="{{movie.id}}" hidden />
                    <button type="submit">Delete</button>
                </form>

                <!-- Add an update button  -->
                <form  action="{{url_for('movies-list.update_movie_page')}}" class="add-movie-form" method="POST">
                    <input name="movie_id" type="text" value="{{movie.id}}" hidden />
                    <button type="submit">Update</button>
                </form>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %} 