<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .add-movie-form {
            display: grid;
            /* background-color: orange; */
            gap: 12px;
        }
    </style>
</head>
<body>
    <h1> Updating {{movie.name}}</h1>
    <!-- Create a form to add movies -->
    <form action="{{url_for('movies-list.update_movie_by_id')}}" class="add-movie-form" method="POST">
        <input type="text" name="name" placeholder="name"/>
        <input type="text" name="poster" placeholder="poster"/>
        <input type="text" name="rating" placeholder="rating"/>
        <input type="text" name="summary" placeholder="summary"/>
        <input type="text" name="trailer" placeholder="trailer"/>
        <!-- Call the action  -->
        <input name="movie_id" type="text" value="{{movie.id}}" hidden />
        <button type="submit"> Submit </button>

    </form>
</body>
</html>